#tint-bttn {
    box-sizing: border-box;
    appearance: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 3px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: "Roboto",sans-serif;
    background-color: #000;
    transition: all 300ms ease;
    padding: 11px 15px;
    margin-left: 10px;
    width: 35%;
    font-size: .75rem;
    cursor: pointer;
  }